# Ignore everything
*

# Allow gitignore itself
!.gitignore

# Allow newnotediagram folder
!part0/
!part0/newnotediagram/
!part0/newnotediagram/AddNewNoteDiagram.md

# Allow newnoteinsingleappdiagram folder
!part0/newnoteinsingleappdiagram/
!part0/newnoteinsingleappdiagram/AddNewNoteDiagram.md

# Allow singlepageappdiagram folder
!part0/singlepageappdiagram/
!part0/singlepageappdiagram/AddNewNoteDiagram.md


# Allow anecdotes folder
!part1/
!part1/anecdotes/
!part1/anecdotes/package.json
!part1/anecdotes/src/
!part1/anecdotes/src/App.jsx
!part1/anecdotes/src/main.jsx

# Allow courseinfo folder
!part1/courseinfo/
!part1/courseinfo/package.json
!part1/courseinfo/src/
!part1/courseinfo/src/App.jsx
!part1/courseinfo/src/main.jsx

# Allow unicafe folder
!part1/unicafe/
!part1/unicafe/package.json
!part1/unicafe/src/
!part1/unicafe/src/App.jsx
!part1/unicafe/src/main.jsx
